.Header {
  display: flex;
  justify-content: space-between;
  padding: 0 24px;
  border-bottom: 1px solid var(--very-light-pink);
  height: 60px;
  position: fixed;
  z-index: 4;
  width: calc(100% - 48px);
  top: 0;
  left: 0;
  background-color: white;
  align-items: center;
}
