.ItemProductCart {
  display: grid;
  grid-template-columns: auto 1fr auto auto;
  gap: 16px;
  // margin-bottom: 24px;
  align-items: center;
}
.ItemProductCart-removed {
  grid-template-columns: auto 1fr auto;
  opacity: 0.25;
}
