.desktop-menu {
  width: 100px;
  height: auto;
  border: 1px solid var(--very-light-pink);
  border-radius: 6px;
  padding: 20px 20px 0 20px;
  position: absolute;
  right: 0;
  top: 61px;
  display: none;
}
.desktop-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.desktop-menu a {
  display: inline-block;
}
