.Product {
  width: 100%;
}

.Product-info {
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
  height: 50px;
  align-items: center;
}
.Product-main-info p:first-child {
  margin-bottom: 8px;
}
.product-figure {
  margin: 0;
  cursor: pointer;
  width: 40px;
  height: 40px;
}
.product-figure img {
  width: 100%;
  height: 100%;
}
.product-figure-CartAdded {
  cursor: default;
  box-shadow: 0px 0px 1px 0px rgb(0 0 0 / 48%);
  width: 42px;
  height: 42px;
  border-radius: 50%;
}
.product-figure-CartAdded img {
  width: 100%;
  height: 100%;
}
